{
    "extends": "./setup/.globals.json",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "rules": {
        "no-var": 0,
        "global-require": 0,
        "strict": 0,
        "quotes": [
            2,
            "single"
        ],
        "no-unused-expressions": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    }
}
